In [1]:
import numpy as np
import pandas as pd

In [2]:
users = pd.read_csv('BX-Users.csv', sep=';', error_bad_lines=False, encoding='latin-1')
books = pd.read_csv('BX-Books.csv', sep=';', error_bad_lines=False, encoding='latin-1')
ratings = pd.read_csv('BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding='latin-1')

/var/folders/9j/v7sfq5lx5zx2_z_4p196_35h0000gn/T/ipykernel_2520/3514095507.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users = pd.read_csv('BX-Users.csv', sep=';', error_bad_lines=False, encoding='latin-1')
/var/folders/9j/v7sfq5lx5zx2_z_4p196_35h0000gn/T/ipykernel_2520/3514095507.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books = pd.read_csv('BX-Books.csv', sep=';', error_bad_lines=False, encoding='latin-1')
b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/var/folders/9j/v7sfq5lx5zx2_z_4p196_35h0000gn/T/ipykernel_2520/3514095507.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('BX-Books.csv', sep=';', error_bad_lines=False, encoding='latin-1')
/var/folders/9j/v7sfq5lx5zx2_z_4p196_35h0000gn/T/ipykernel_2520/3514095507.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratings = pd.read_csv('BX-Book-Ratings.csv', sep=';', error_bad_lines=False, encoding='latin-1')

In [3]:
users.head(2)

   User-ID                   Location   Age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [4]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [5]:
ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [6]:
users.shape

(278858, 3)

In [7]:
books.shape

(271360, 8)

In [8]:
ratings.shape

(1149780, 3)

In [9]:
users.columns

Index(['User-ID', 'Location', 'Age'], dtype='object')

In [10]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [11]:
books.drop(columns=['Image-URL-S', 'Image-URL-M', 'Image-URL-L'], inplace=True)

In [12]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication',
       'Publisher'],
      dtype='object')

In [13]:
books.rename(columns={'Book-Title': 'title', 
                      'Book-Author': 'author', 
                      'Year-Of-Publication': 'year', 
                      'Publisher': 'publisher'}, inplace=True)

In [14]:
books.columns

Index(['ISBN', 'title', 'author', 'year', 'publisher'], dtype='object')

In [15]:
ratings.columns

Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

In [16]:
ratings.rename(columns={'User-ID': 'userId', 'Book-Rating': 'rating'}, inplace=True)

In [17]:
ratings.columns

Index(['userId', 'ISBN', 'rating'], dtype='object')

In [18]:
users.columns

Index(['User-ID', 'Location', 'Age'], dtype='object')

In [19]:
users.rename(columns={'User-ID': 'userId', 'Location': 'location', 'Age': 'age'}, inplace=True)

In [20]:
users.columns

Index(['userId', 'location', 'age'], dtype='object')

In [21]:
x = ratings['userId'].value_counts() > 200

In [22]:
x[x].shape

(899,)

In [23]:
y = x[x].index

In [24]:
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727,
            268622, 188951],
           dtype='int64', length=899)

In [25]:
ratings = ratings[ratings['userId'].isin(y)]

In [26]:
ratings.shape

(526356, 3)

In [27]:
ratings_with_books = ratings.merge(books, on='ISBN')

In [28]:
ratings_with_books.head(2)

,userId,ISBN,rating,title,author,year,publisher
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc

In [29]:
number_rating = ratings_with_books.groupby('title')['rating'].count().reset_index()

In [30]:
number_rating.head(2)

                                               title  rating
0   A Light in the Storm: The Civil War Diary of ...       2
1                              Always Have Popsicles       1

In [31]:
number_rating.rename(columns={'rating': 'number of rating'}, inplace=True)

In [32]:
number_rating.head(2)

                                               title  number of rating
0   A Light in the Storm: The Civil War Diary of ...                 2
1                              Always Have Popsicles                 1

In [33]:
final_rating = ratings_with_books.merge(number_rating, on='title')

In [34]:
final_rating.head(2)

,userId,ISBN,rating,title,author,year,publisher,number of rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82

In [35]:
final_rating.shape

(487671, 8)

In [36]:
final_rating = final_rating[final_rating['number of rating'] >= 50]

In [37]:
final_rating.head(2)

,userId,ISBN,rating,title,author,year,publisher,number of rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82

In [38]:
final_rating.shape

(61853, 8)

In [39]:
final_rating.drop_duplicates(['userId', 'title'], inplace=True)

In [40]:
final_rating.shape

(59850, 8)

In [41]:
book_pivot = final_rating.pivot_table(columns='userId', index='title', values='rating')

In [42]:
book_pivot.shape

(742, 888)

In [43]:
book_pivot

userId,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
book_pivot.fillna(0, inplace=True)

In [45]:
book_pivot

userId,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
from scipy.sparse import csr_matrix
book_sparse = csr_matrix(book_pivot)

In [47]:
book_sparse

<742x888 sparse matrix of type '<class 'numpy.float64'>'
	with 14942 stored elements in Compressed Sparse Row format>

In [48]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm='brute')

In [49]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [55]:
book_pivot.iloc[237, :].values.reshape(1, -1)

array([[ 9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,
         8.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         9.,  0.,  0.,  0., 10.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  7.,  9.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0., 10., 10.,  0.,  0.,  7.,  0.,
         0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  8.,  0.,  0.,
         0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,  0.,
         0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  8.,  0.,  0., 10.,  0.,  0.,  0.,  7.,
        10.,  0., 10.,  0., 10.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        10.,  9.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  5.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  5.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,
         0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  5.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         8.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  8.,  0.,  0.,  0.,  0.,
         0.,  0.,  0., 10.,  7.,  0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  8., 10.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0., 10.,
         0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  7.,  0.,  0.,  0.,  0.,
         0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  9.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  7.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  9.,
         0.,  0.,  0.,  0.]])

In [56]:
distance, suggestions = model.kneighbors(book_pivot.iloc[237, :].values.reshape(1, -1))

In [57]:
distance

array([[ 0.        , 68.78953409, 69.5413546 , 72.64296249, 76.83098333]])

In [58]:
suggestions

array([[237, 240, 238, 241, 184]])

In [60]:
book_pivot.index[7]

'A Child Called \\It\\": One Child\'s Courage to Survive"'

In [63]:
for i in range(len(suggestions)):
    print(book_pivot.index[suggestions[i]])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive'],
      dtype='object', name='title')

In [106]:
movies_dic = {}
for i in range(len(book_pivot.index)):
    movies_dic[book_pivot.index[i]] = i

In [107]:
movies_dic

{'1984': 0,
 '1st to Die: A Novel': 1,
 '2nd Chance': 2,
 '4 Blondes': 3,
 '84 Charing Cross Road': 4,
 'A Bend in the Road': 5,
 'A Case of Need': 6,
 'A Child Called \\It\\": One Child\'s Courage to Survive"': 7,
 'A Civil Action': 8,
 'A Cry In The Night': 9,
 'A Darkness More Than Night': 10,
 'A Day Late and a Dollar Short': 11,
 'A Fine Balance': 12,
 'A Great Deliverance': 13,
 'A Heartbreaking Work of Staggering Genius': 14,
 'A Is for Alibi (Kinsey Millhone Mysteries (Paperback))': 15,
 'A Lesson Before Dying (Vintage Contemporaries (Paperback))': 16,
 'A Man Named Dave: A Story of Triumph and Forgiveness': 17,
 'A Man in Full': 18,
 'A Map of the World': 19,
 'A Painted House': 20,
 'A Patchwork Planet': 21,
 'A Prayer for Owen Meany': 22,
 'A Thin Dark Line (Mysteries &amp; Horror)': 23,
 "A Thousand Acres (Ballantine Reader's Circle)": 24,
 'A Time to Kill': 25,
 "A Virtuous Woman (Oprah's Book Club (Paperback))": 26,
 'A Walk to Remember': 27,
 'A Widow for One Year': 28,
 'A Wrinkle In Time': 29,
 'A Wrinkle in Time': 30,
 'A Year in Provence': 31,
 "ANGELA'S ASHES": 32,
 'Abduction': 33,
 'About a Boy': 34,
 'Absolute Power': 35,
 'Acceptable Risk': 36,
 'Accident': 37,
 'Airframe': 38,
 'Alaska': 39,
 'All Around the Town': 40,
 'All Creatures Great and Small': 41,
 'All I Really Need to Know': 42,
 'All That Remains (Kay Scarpetta Mysteries (Paperback))': 43,
 'All the Pretty Horses (The Border Trilogy, Vol 1)': 44,
 'Along Came a Spider (Alex Cross Novels)': 45,
 'American Gods': 46,
 'And Then You Die': 47,
 "Angela's Ashes (MMP) : A Memoir": 48,
 "Angela's Ashes: A Memoir": 49,
 'Angels': 50,
 'Angels &amp; Demons': 51,
 'Angus, Thongs and Full-Frontal Snogging: Confessions of Georgia Nicolson': 52,
 'Animal Dreams': 53,
 'Animal Farm': 54,
 'Anne Frank: The Diary of a Young Girl': 55,
 'Anne of Avonlea (Anne of Green Gables Novels (Paperback))': 56,
 'Anne of Green Gables (Anne of Green Gables Novels (Paperback))': 57,
 'Anne of the Island': 58,
 'Artemis Fowl (Artemis Fowl, Book 1)': 59,
 'Ashes to Ashes': 60,
 'At Home in Mitford (The Mitford Years)': 61,
 'Atonement : A Novel': 62,
 'B Is for Burglar (Kinsey Millhone Mysteries (Paperback))': 63,
 'Back Roads': 64,
 'Bag of Bones': 65,
 'Balzac and the Little Chinese Seamstress : A Novel': 66,
 'Bastard Out of Carolina': 67,
 'Beach House': 68,
 'Beach Music': 69,
 'Before I Say Good-Bye': 70,
 'Bel Canto: A Novel': 71,
 'Beloved': 72,
 'Beloved (Plume Contemporary Fiction)': 73,
 'Betrayal in Death': 74,
 "Big Cherry Holler: A Big Stone Gap Novel (Ballantine Reader's Circle)": 75,
 "Big Stone Gap: A Novel (Ballantine Reader's Circle)": 76,
 'Big Trouble': 77,
 'Billy Straight : A Novel': 78,
 'Birthright': 79,
 'Bittersweet': 80,
 'Black House': 81,
 'Black Notice': 82,
 'Black and Blue': 83,
 'Bleachers': 84,
 'Blessings': 85,
 'Blood Work': 86,
 'Blue Diary': 87,
 'Body of Evidence (Kay Scarpetta Mysteries (Paperback))': 88,
 'Body of Lies': 89,
 'Brave New World': 90,
 'Breath, Eyes, Memory': 91,
 'Breathing Lessons': 92,
 'Bridge to Terabithia': 93,
 'Bridget Jones : The Edge of Reason': 94,
 "Bridget Jones's Diary": 95,
 'Bridget Jones: The Edge of Reason': 96,
 'By the Light of the Moon': 97,
 'C Is for Corpse (Kinsey Millhone Mysteries (Paperback))': 98,
 "CAT'S EYE": 99,
 'Call of the Wild': 100,
 'Carnal Innocence': 101,
 'Carolina Moon': 102,
 'Carrie': 103,
 'Cat &amp; Mouse (Alex Cross Novels)': 104,
 'Catering to Nobody': 105,
 'Cause of Death': 106,
 'Certain Prey': 107,
 "Charlotte's Web (Trophy Newbery)": 108,
 'Charming Billy': 109,
 'Chicken Soup for the Soul (Chicken Soup for the Soul)': 110,
 "Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series (Paper))": 111,
 'Chocolat': 112,
 'Choke': 113,
 'Chosen Prey': 114,
 'Christine': 115,
 'Chromosome 6': 116,
 'Circle of Friends': 117,
 'Clear and Present Danger (Jack Ryan Novels)': 118,
 'Cold Mountain': 119,
 'Cold Mountain : A Novel': 120,
 'Cold Sassy Tree': 121,
 'Colony': 122,
 'Coming Home': 123,
 'Confessions of a Shopaholic (Summer Display Opportunity)': 124,
 'Confessions of an Ugly Stepsister : A Novel': 125,
 'Congo': 126,
 'Contact': 127,
 'Contagion': 128,
 'Coraline': 129,
 'Couplehood': 130,
 'Cradle and All': 131,
 'Crazy for You': 132,
 'Cruel &amp; Unusual (Kay Scarpetta Mysteries (Paperback))': 133,
 'Cry Wolf': 134,
 'Cujo': 135,
 'D Is for Deadbeat (Kinsey Millhone Mysteries (Paperback))': 136,
 'Daddy': 137,
 "Daddy's Little Girl": 138,
 'Daisy Fay and the Miracle Man': 139,
 'Dance upon the Air (Three Sisters Island Trilogy)': 140,
 'Dances With Wolves': 141,
 'Dangerous': 142,
 'Dark Angel': 143,
 'Dark Paradise': 144,
 'Dark Rivers of the Heart': 145,
 'Dawn (Cutler)': 146,
 'Dead Run': 147,
 'Death du Jour': 148,
 'Debt of Honor (Jack Ryan Novels)': 149,
 'Deception Point': 150,
 'Deck the Halls (Holiday Classics)': 151,
 'Degree of Guilt': 152,
 'Deja Dead': 153,
 'Desperation': 154,
 'Devices and Desires': 155,
 'Different Seasons': 156,
 'Digital Fortress : A Thriller': 157,
 'Disclosure': 158,
 'Divine Secrets of the Ya-Ya Sisterhood: A Novel': 159,
 'Dolores Claiborne': 160,
 "Don't Stand Too Close to a Naked Man": 161,
 "Don't Sweat the Small Stuff and It's All Small Stuff : Simple Ways to Keep the Little Things from Taking Over Your Life (Don't Sweat the Small Stuff Series)": 162,
 "Dr. Atkins' New Diet Revolution": 163,
 'Dragon Tears': 164,
 'Dragonfly in Amber': 165,
 'Dream Country': 166,
 'Dreamcatcher': 167,
 'Drowning Ruth': 168,
 "Drowning Ruth (Oprah's Book Club)": 169,
 'Drums of Autumn': 170,
 "Dude, Where's My Country?": 171,
 'Dust to Dust': 172,
 'Dying for Chocolate (Culinary Mysteries (Paperback))': 173,
 'E Is for Evidence: A Kinsey Millhone Mystery (Kinsey Millhone Mysteries (Paperback))': 174,
 'Easy Prey': 175,
 'Echoes': 176,
 'Ellen Foster': 177,
 'Empire Falls': 178,
 "Ender's Game (Ender Wiggins Saga (Paperback))": 179,
 'Engaging The Enemy': 180,
 'Envy': 181,
 'Evening Class': 182,
 "Everything's Eventual : 14 Dark Tales": 183,
 'Exclusive': 184,
 'Executive Orders (Jack Ryan Novels)': 185,
 'Eyes of Prey': 186,
 'Eyes of a Child': 187,
 'F Is for Fugitive (Kinsey Millhone Mysteries (Paperback))': 188,
 'FORREST GUMP (Movie Tie in)': 189,
 'Face the Fire (Three Sisters Island Trilogy)': 190,
 'Fahrenheit 451': 191,
 'Faking It': 192,
 'Fall On Your Knees (Oprah #45)': 193,
 'Falling Angels': 194,
 'False Memory': 195,
 'Family Album': 196,
 'Fast Food Nation: The Dark Side of the All-American Meal': 197,
 'Fast Women': 198,
 'Fat Tuesday': 199,
 'Fatal Cure': 200,
 'Fatherhood': 201,
 'Fear Nothing': 202,
 'Final Target': 203,
 'Fine Things': 204,
 'Fingersmith': 205,
 'Five Days in Paris': 206,
 'Five Quarters of the Orange': 207,
 'Flesh and Blood': 208,
 'Forever... : A Novel of Good and Evil, Love and Hope': 209,
 "Fortune's Rocks : A Novel": 210,
 "Fortune's Rocks: A Novel": 211,
 "Foucault's Pendulum": 212,
 'Four Blind Mice': 213,
 'Four Past Midnight': 214,
 'Four To Score (A Stephanie Plum Novel)': 215,
 'Fried Green Tomatoes at the Whistle Stop Cafe': 216,
 "From Potter's Field": 217,
 'From the Corner of His Eye': 218,
 "Full House (Janet Evanovich's Full Series)": 219,
 "Full Tilt (Janet Evanovich's Full Series)": 220,
 'G Is for Gumshoe (Kinsey Millhone Mysteries (Paperback))': 221,
 'GARDEN OF SHADOWS (Dollanger Saga (Paperback))': 222,
 "Gerald's Game": 223,
 'Girl in Hyacinth Blue': 224,
 'Girl with a Pearl Earring': 225,
 'Girl, Interrupted': 226,
 'Good Omens': 227,
 'Good in Bed': 228,
 'Gorky Park': 229,
 'Granny Dan': 230,
 'Guardian Angel': 231,
 'Guilty Pleasures (Anita Blake Vampire Hunter (Paperback))': 232,
 'Guilty as Sin': 233,
 'H Is for Homicide (Kinsey Millhone Mysteries (Paperback))': 234,
 'Hannibal': 235,
 'Hard Eight : A Stephanie Plum Novel (A Stephanie Plum Novel)': 236,
 'Harry Potter and the Chamber of Secrets (Book 2)': 237,
 'Harry Potter and the Goblet of Fire (Book 4)': 238,
 'Harry Potter and the Order of the Phoenix (Book 5)': 239,
 'Harry Potter and the Prisoner of Azkaban (Book 3)': 240,
 "Harry Potter and the Sorcerer's Stone (Book 1)": 241,
 "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))": 242,
 'Harvest': 243,
 'Heart of the Sea (Irish Trilogy)': 244,
 'Heartbeat': 245,
 'Heartbreaker': 246,
 'Hearts In Atlantis': 247,
 'Hearts in Atlantis': 248,
 'Heaven and Earth (Three Sisters Island Trilogy)': 249,
 'Hemlock Bay': 250,
 'Here on Earth': 251,
 'Hide &amp; Seek': 252,
 'Hideaway': 253,
 'High Fidelity': 254,
 'High Five (A Stephanie Plum Novel)': 255,
 'Holes (Yearling Newbery)': 256,
 'Homecoming': 257,
 'Homeport': 258,
 "Hornet's Nest": 259,
 'Hot Six : A Stephanie Plum Novel (A Stephanie Plum Novel)': 260,
 'House of Sand and Fog': 261,
 'How Stella Got Her Groove Back': 262,
 'How to Be Good': 263,
 'How to Make an American Quilt': 264,
 'I Capture the Castle': 265,
 'I Is for Innocent': 266,
 'I Know This Much Is True': 267,
 "I Know This Much Is True (Oprah's Book Club)": 268,
 'I Know Why the Caged Bird Sings': 269,
 "I'll Be Seeing You": 270,
 'Icebound': 271,
 'Icy Sparks': 272,
 'If Only It Were True': 273,
 'If Tomorrow Comes': 274,
 'Impulse': 275,
 'In Her Shoes : A Novel': 276,
 'Inner Harbor (Quinn Brothers (Paperback))': 277,
 'Insomnia': 278,
 'Intensity': 279,
 'Interview with the Vampire': 280,
 'Into Thin Air : A Personal Account of the Mt. Everest Disaster': 281,
 'Into the Wild': 282,
 'Invasion': 283,
 'Irish Hearts': 284,
 'Isle of Dogs': 285,
 'It': 286,
 'It Was on Fire When I Lay Down on It': 287,
 "It's Always Something": 288,
 'J Is for Judgment': 289,
 'Jack &amp; Jill (Alex Cross Novels)': 290,
 'Jacob Have I Loved': 291,
 'Jemima J: A Novel About Ugly Ducklings and Swans': 292,
 'Jewel': 293,
 "Jewel (Oprah's Book Club)": 294,
 'Jewels of the Sun (Irish Trilogy)': 295,
 'Journey': 296,
 'Jurassic Park': 297,
 'K Is for Killer (Kinsey Millhone Mysteries (Paperback))': 298,
 'Kaleidoscope': 299,
 'Key of Knowledge (Key Trilogy (Paperback))': 300,
 'Key of Light (Key Trilogy (Paperback))': 301,
 'Key of Valor (Roberts, Nora. Key Trilogy, 3.)': 302,
 'Killjoy': 303,
 'Kiss the Girls': 304,
 'L Is for Lawless': 305,
 'Ladder of Years': 306,
 'Lake Wobegon Days': 307,
 'Lake Wobegon days': 308,
 "Lamb : The Gospel According to Biff, Christ's Childhood Pal": 309,
 'Last Chance Saloon': 310,
 'Last Man Standing': 311,
 "Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)": 312,
 'Let Me Call You Sweetheart': 313,
 'Life of Pi': 314,
 'Lightning': 315,
 'Like Water for Chocolate : A Novel in Monthly Installments with Recipes, Romances, and Home Remedies': 316,
 'Like Water for Chocolate: A Novel in Monthly Installments With Recipes, Romances and Home Remedies': 317,
 'Like Water for Chocolate: A Novel in Monthly Installments, With Recipes, Romances, and Home Remedies': 318,
 'Little Altars Everywhere: A Novel': 319,
 'Long After Midnight': 320,
 'Lord of the Flies': 321,
 'Love in the Time of Cholera (Penguin Great Books of the 20th Century)': 322,
 'Loves Music, Loves to Dance': 323,
 'Lucky : A Memoir': 324,
 'Lucky Man: A Memoir': 325,
 'M Is for Malice': 326,
 'Macgregor Brides (Macgregors)': 327,
 'Macgregor Grooms (Macgregors)': 328,
 'Master of the Game': 329,
 'Matilda': 330,
 'Me Talk Pretty One Day': 331,
 'Men Are from Mars, Women Are from Venus: A Practical Guide for Improving Communication and Getting What You Want in Your Relationships': 332,
 'Mercy': 333,
 'Message from Nam': 334,
 'Message in a Bottle': 335,
 'Middlesex: A Novel': 336,
 'Midnight': 337,
 'Midnight Bayou': 338,
 'Midnight in the Garden of Good and Evil': 339,
 'Midnight in the Garden of Good and Evil: A Savannah Story': 340,
 'Midwives: A Novel': 341,
 'Mind Prey': 342,
 'Mirror Image': 343,
 'Misery': 344,
 'Miss Julia Speaks Her Mind : A Novel': 345,
 'Monster : A Novel (Alex Delaware Novels (Paperback))': 346,
 'Montana Sky': 347,
 'Moo': 348,
 'Moonlight Becomes You': 349,
 'Morality for Beautiful Girls (No.1 Ladies Detective Agency)': 350,
 'Mortal Fear': 351,
 'Mortal Prey': 352,
 'Mother of Pearl': 353,
 'Mr. Murder': 354,
 'My Gal Sunday': 355,
 'Mystic River': 356,
 'N Is for Noose': 357,
 'Naked': 358,
 'Needful Things': 359,
 'Nerd in Shining Armor': 360,
 'Neuromancer (Remembering Tomorrow)': 361,
 'Neverwhere': 362,
 'Nickel and Dimed: On (Not) Getting By in America': 363,
 'Nicolae: The Rise of Antichrist (Left Behind No. 3)': 364,
 'Night': 365,
 'Night Prey': 366,
 'Night Sins': 367,
 'Night Whispers': 368,
 'Nightmares &amp; Dreamscapes': 369,
 'Nights in Rodanthe': 370,
 'No Greater Love': 371,
 'No Safe Place': 372,
 'Notes from a Small Island': 373,
 'Nothing Lasts Forever': 374,
 'Now You See Her': 375,
 'On the Street Where You Live': 376,
 'One Door Away from Heaven': 377,
 'One True Thing': 378,
 'One for the Money (A Stephanie Plum Novel)': 379,
 'One for the Money (Stephanie Plum Novels (Paperback))': 380,
 'Oryx and Crake': 381,
 'Outlander': 382,
 'Over the Edge': 383,
 'P Is for Peril': 384,
 'Paradise': 385,
 'Patriot Games (Jack Ryan Novels)': 386,
 'Pay It Forward': 387,
 'Peace Like a River': 388,
 'Pet Sematary': 389,
 'Phantoms': 390,
 'Pigs in Heaven': 391,
 'Plainsong (Vintage Contemporaries)': 392,
 'Pleading Guilty': 393,
 'Plum Island': 394,
 'Point of Origin': 395,
 'Politically Correct Bedtime Stories: Modern Tales for Our Life and Times': 396,
 'Pop Goes the Weasel': 397,
 'Portrait in Death': 398,
 'Possession : A Romance': 399,
 'Postmortem': 400,
 'Practical Magic': 401,
 'Presumed Innocent': 402,
 "Pretend You Don't See Her": 403,
 'Pride and Prejudice': 404,
 'Primary Colors: A Novel of Politics': 405,
 'Prime Cut': 406,
 'Prodigal Summer': 407,
 'Prodigal Summer: A Novel': 408,
 'Purity in Death': 409,
 'Q Is for Quarry': 410,
 'Quentins': 411,
 'Rainbow Six': 412,
 'Range of Motion': 413,
 'Reap the Wind': 414,
 'Rebecca': 415,
 'Red Dragon': 416,
 'Red Storm Rising': 417,
 'Remember Me': 418,
 'Riptide': 419,
 'Rising Sun': 420,
 'Rising Tides': 421,
 "River's End": 422,
 'River, Cross My Heart': 423,
 'Rose Madder': 424,
 'Roses Are Red (Alex Cross Novels)': 425,
 'Rules of Prey': 426,
 'SHIPPING NEWS': 427,
 'STONES FROM THE RIVER': 428,
 'Sacred Sins': 429,
 'Saint Maybe': 430,
 'Sanctuary': 431,
 'Saving Faith': 432,
 'Scarlet Feather': 433,
 'Scarlett : The Sequel to Margaret Mitchell\'s \\Gone With the Wind\\""': 434,
 "Schindler's List": 435,
 'Sea Glass: A Novel': 436,
 'Sea Swept (Quinn Brothers (Paperback))': 437,
 'Seabiscuit': 438,
 'Seabiscuit: An American Legend': 439,
 'Second Nature': 440,
 'Secret History': 441,
 'Secrets': 442,
 'Seize the Night': 443,
 'September': 444,
 'Seven Habits Of Highly Effective People': 445,
 'Seven Up (A Stephanie Plum Novel)': 446,
 'Shadow Prey': 447,
 'Shadowfires': 448,
 'Shattered': 449,
 "She's Come Undone (Oprah's Book Club (Paperback))": 450,
 "She's Come Undone (Oprah's Book Club)": 451,
 'Shell Seekers': 452,
 'Shopaholic Takes Manhattan (Summer Display Opportunity)': 453,
 'Shopaholic Ties the Knot': 454,
 'Sick Puppy': 455,
 'Silence of the Lambs': 456,
 'Silent Witness': 457,
 'Sisterhood of the Traveling Pants': 458,
 'Skeleton Crew': 459,
 'Skipping Christmas': 460,
 'Slammerkin': 461,
 "Slaughterhouse Five or the Children's Crusade: A Duty Dance With Death": 462,
 'Sleepers': 463,
 'Slow Waltz in Cedar Bend': 464,
 'Small Town Girl': 465,
 'Smart Women': 466,
 "Smilla's Sense of Snow": 467,
 'Snow Falling on Cedars': 468,
 'Sole Survivor': 469,
 "Song of Solomon (Oprah's Book Club (Paperback))": 470,
 "Songs in Ordinary Time (Oprah's Book Club (Paperback))": 471,
 "Sophie's World: A Novel About the History of Philosophy": 472,
 'Southern Cross': 473,
 'Sphere': 474,
 'Standoff': 475,
 'Stanislaski Brothers (Silhouette Promo)': 476,
 'Still Waters': 477,
 'Stillwatch': 478,
 'Strangers': 479,
 'Stupid White Men ...and Other Sorry Excuses for the State of the Nation!': 480,
 'Sudden Prey': 481,
 'Summer Pleasures': 482,
 'Summer Sisters': 483,
 "Suzanne's Diary for Nicholas": 484,
 'Table For Two': 485,
 'Tales of a Fourth Grade Nothing': 486,
 'Taltos: Lives of the Mayfair Witches': 487,
 'Tara Road': 488,
 'Tears of the Giraffe (No.1 Ladies Detective Agency)': 489,
 'Tears of the Moon (Irish Trilogy)': 490,
 'Tell Me Lies (Tell Me Lies)': 491,
 'Tell Me Your Dreams': 492,
 'Tell No One': 493,
 'Temptation': 494,
 'That Camden Summer': 495,
 'The Accidental Tourist': 496,
 'The Alchemist: A Fable About Following Your Dream': 497,
 'The Alibi': 498,
 'The Alienist': 499,
 'The Amazing Adventures of Kavalier &amp; Clay': 500,
 'The Amber Spyglass (His Dark Materials, Book 3)': 501,
 'The Andromeda Strain': 502,
 'The Angel of Darkness': 503,
 'The Apprentice': 504,
 'The Bachelor (Warner Books Contemporary Romance)': 505,
 'The Bad Beginning (A Series of Unfortunate Events, Book 1)': 506,
 'The Bad Place': 507,
 'The Beach House': 508,
 'The Bean Trees': 509,
 'The Blind Assassin': 510,
 'The Blue Nowhere : A Novel': 511,
 'The Bluest Eye': 512,
 'The Body Farm': 513,
 "The Bonesetter's Daughter": 514,
 'The Bonfire of the Vanities': 515,
 "The Book of Ruth (Oprah's Book Club (Paperback))": 516,
 'The Bourne Identity': 517,
 'The Bourne Supremacy': 518,
 'The Bourne Ultimatum': 519,
 'The Boy Next Door': 520,
 'The Brethren': 521,
 'The Bridges of Madison County': 522,
 'The Burden of Proof': 523,
 'The Cardinal of the Kremlin (Jack Ryan Novels)': 524,
 'The Carousel': 525,
 'The Catcher in the Rye': 526,
 'The Celestine Prophecy (Celestine Prophecy)': 527,
 'The Chamber': 528,
 'The Cider House Rules': 529,
 "The Clan of the Cave Bear (Earth's Children (Paperback))": 530,
 'The Client': 531,
 'The Clinic (Alex Delaware Novels (Paperback))': 532,
 'The Color Purple': 533,
 "The Color of Water: A Black Man's Tribute to His White Mother": 534,
 'The Copper Beech': 535,
 'The Cradle Will Fall': 536,
 'The Crimson Petal and the White': 537,
 'The Da Vinci Code': 538,
 'The Dark Half': 539,
 'The Dead Zone': 540,
 'The Deep End of the Ocean': 541,
 'The Devil Wears Prada : A Novel': 542,
 'The Diary of Ellen Rimbauer: My Life at Rose Red': 543,
 'The Divine Secrets of the Ya-Ya Sisterhood: A Novel': 544,
 'The Dogs of Babel (Today Show Book Club #12)': 545,
 'The Door to December': 546,
 'The Drawing of the Three (The Dark Tower, Book 2)': 547,
 'The Edge': 548,
 'The Eight': 549,
 'The Empty Chair': 550,
 'The English Patient': 551,
 'The Eyre Affair: A Novel': 552,
 'The Face of Deception': 553,
 'The Fellowship of the Ring (The Lord of the Rings, Part 1)': 554,
 'The Firm': 555,
 'The First Counsel': 556,
 'The First Wives Club Movie Tie In': 557,
 'The Five People You Meet in Heaven': 558,
 'The Fourth Hand': 559,
 "The General's Daughter": 560,
 'The Genesis Code': 561,
 'The Ghost': 562,
 'The Gift': 563,
 'The Girl Who Loved Tom Gordon': 564,
 "The Girls' Guide to Hunting and Fishing": 565,
 'The Giver (21st Century Reference)': 566,
 'The Glass Lake': 567,
 'The God of Small Things': 568,
 'The Golden Compass (His Dark Materials, Book 1)': 569,
 'The Great Gatsby': 570,
 'The Green Mile': 571,
 'The Grilling Season': 572,
 'The Guardian': 573,
 'The Gunslinger (The Dark Tower, Book 1)': 574,
 "The Handmaid's Tale": 575,
 "The Hitchhiker's Guide to the Galaxy": 576,
 'The Hobbit : The Enchanting Prelude to The Lord of the Rings': 577,
 'The Honk and Holler Opening Soon': 578,
 'The Horse Whisperer': 579,
 'The Hot Zone': 580,
 'The Hours : A Novel': 581,
 'The Hours: A Novel': 582,
 'The House of the Spirits': 583,
 'The Hundred Secret Senses': 584,
 'The Hunt for Red October': 585,
 "The Idiot Girls' Action Adventure Club": 586,
 'The Jester': 587,
 'The Joy Luck Club': 588,
 'The Killing Game: Only One Can Win...and the Loser Dies': 589,
 'The King of Torts': 590,
 'The Kiss': 591,
 "The Kitchen God's Wife": 592,
 'The Last Precinct': 593,
 'The Last Time They Met : A Novel': 594,

In [108]:
def recommender(movie):
    movie_id = movies_dic[movie]
    distance, suggestions = model.kneighbors(book_pivot.iloc[movie_id, :].values.reshape(1, -1))
    for i in range(len(suggestions)):
        print(book_pivot.index[suggestions[i]])

In [109]:
recommender('Harry Potter and the Chamber of Secrets (Book 2)')

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive'],
      dtype='object', name='title')